In [1]:
nombre = input("Por favor dime tu nombre: ")
print("Hola "+ nombre + "!")

Por favor dime tu nombre:  Juan

Hola Juan!

In [2]:
edad = input("Dime tu edad: ")

Dime tu edad:  40

In [3]:
type(edad)

str

In [4]:
edad = int(input("Dime tu edad: "))

Dime tu edad:  40

In [5]:
type(edad)

int

In [7]:
a = int(input("Dime el primer número: "))
b = int(input("Dime el segundo número: "))
suma = a + b
print("La suma es: "+ str(suma))

Dime el primer número:  8
Dime el segundo número:  8

La suma es: 16

# EJERCICIOS

1. Escriba un programa que pida al usuario su nombre

In [9]:
nombre = input("Por favor dime tu nombre: ")

Por favor dime tu nombre:  Karen

2. Escribe un programa que solicite al usuario su año de nacimiento y almacenala en una variable llamada nacimiento, suma 1 al año de nacimiento y muestra el resultado.

In [10]:
nacimiento = input("En qué año naciste?")
nacimiento = int(nacimiento)
nacimiento += 1
print(nacimiento)

En qué año naciste? 1984

1985

3. Desarrolla un programa que le pregunte al usuario la cantidad de kilometros que desea convertir a millas considera que 1 kilometro equivale a .621371. Finalmente imprime el resultado.

In [11]:
km = float(input("Introduce la cantidad de kilómetros recorridos: "))
millas = km * 0.621371
print(millas)

Introduce la cantidad de kilómetros recorridos:  4

2.485484